.header_strip {
	border-bottom: 1px solid #E0E0E0;		
	background-color: #0096B6;
}

.header_container {
	height: 45px;
	width: 100%;
}

.header_title {	
	span {
		font-size: 20px;	
		font-weight: bold;	
	}
}

.header_create{	
	font-size:14px;
	margin-left:12px;
	button {
		height: 22px;
		margin-top:4px;		
		background-color: rgba(134, 142, 150, 0.17);
	}
}
