.footer_strip {
	border-top: 1px solid #E0E0E0;	
	background-color: #0096B6;
} 

.footer_container {
	height: 30px;
	width: 100%;
}

.footer_title {
	height: 100%;
	width: 100%;
	span {
		font-size: 14px;
		color: white;		
	}
}
